
@{
    ViewBag.Title = "Extrakte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center imagebg section--ken-burns space--md" data-overlay="2">
            <div class="background-image-holder"> <img alt="background" src="~/img/produkte-1.jpg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-11">
                        <h1><b>Extrakte</b></h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs-container" data-content-align="left">
                            <ul class="tabs">
                                <li class="active">
                                    <div class="tab__title"> <span class="h5">10:10</span></div>
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="text-block">
                                                        <h3><b>APOCAN 10:10 Cannabis Extractum Normatum</b></h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="text-block">
                                                        <h5>APOCAN 10:10 Cannabis Extractum Normatum wird in einer 30ml Flasche geliefert.  </h5>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        @*<h5>Can I pay using AMEX?</h5>*@
                                                        <ul>
                                                            <li><p><b>PZN:</b> 16767353 </p></li>
                                                            <li><p><b>Charge:</b> N0000011123-1 </p></li>
                                                            <li><p><b>Haltbarkeit:</b> 9 Monate </p></li>
                                                            <li><p><b>Inhalt:</b> 250mg </p></li>
                                                            <li><p><b>Wirkstoffmenge:</b> 250mg THC </p></li>
                                                            <li>&nbsp;</li>
                                                            <li><p><b>AEK:</b> 00,00€ </p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>Download</h5>
                                                        <ul>
                                                            <li><a href="#">Analysezertifikat</a></li>
                                                            <li><a href="#">Dronabinol-Rezepturen</a></li>
                                                            <li><a href="#">Sicherheitsdatenblatt</a></li>
                                                            <li><a href="#">Statement zur Haltbarkeit</a></li>
                                                            <li><a href="#">Produktblatt</a></li>
                                                            <li><a href="#">Informationen zum Produkt</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab__title"> <span class="h5">25:1</span> </div>
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="text-block">
                                                        <h3><b>APOCAN 25:1 Cannabis Extractum Normatum</b></h3>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="text-block">
                                                        <h5>APOCAN 25:1 Cannabis Extractum Normatum wird in einer 30ml Flasche geliefert.  </h5>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        @*<h5>Can I pay using AMEX?</h5>*@
                                                        <ul>
                                                            <li><p><b>PZN:</b> 16767353 </p></li>
                                                            <li><p><b>Charge:</b> N0000011123-1 </p></li>
                                                            <li><p><b>Haltbarkeit:</b> 9 Monate </p></li>
                                                            <li><p><b>Inhalt:</b> 500mg </p></li>
                                                            <li><p><b>Wirkstoffmenge:</b> 500mg THC </p></li>
                                                            <li>&nbsp;</li>
                                                            <li><p><b>AEK:</b> 00,00€ </p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>Download</h5>
                                                        <ul>
                                                            <li><a href="#">Analysezertifikat</a></li>
                                                            <li><a href="#">Dronabinol-Rezepturen</a></li>
                                                            <li><a href="#">Sicherheitsdatenblatt</a></li>
                                                            <li><a href="#">Statement zur Haltbarkeit</a></li>
                                                            <li><a href="#">Produktblatt</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center space--xxs bg--primary-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <div class="cta">
                            <h2>Zurück zu Fahbereich</h2> <a class="btn btn--primary type--uppercase" href="@Url.RouteUrl("ProfessionalMain")">
                                <span class="btn__text">fachbereıch<br></span>
                            </a>
                            <p class="type--fine-print">or back to <a href="@Url.RouteUrl("Index")">Main Page</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
</body>

</html>

