
@{
    ViewBag.Title = "APOCAN | Datenschutz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center bg--primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1><b>Datenschutz</b></h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2><b>Datenschutzerklaerung</b></h2>
                        <p class="lead"> Sofern eine betroffene Person besondere Dienste unseres Unternehmens über unsere Internetseite in Anspruch nehmen möchte, kann eine Verarbeitung personenbezogener Daten erforderlich werden. Ist die Verarbeitung personenbezogener Daten erforderlich und besteht für eine solche Verarbeitung keine gesetzliche Grundlage, holen wir generell eine Einwilligung der betroffenen Person ein. <br><br>Die Verarbeitung personenbezogener Daten, beispielsweise des Namens, der Anschrift, E-Mail-Adresse oder Telefonnummer einer betroffenen Person, erfolgt stets im Einklang mit der Datenschutz-Grundverordnung und in Übereinstimmung mit den für die Greenstein Germany GmbH geltenden landesspezifischen Datenschutzbestimmungen. Mittels dieser Datenschutzerklärung möchte unser Unternehmen die Öffentlichkeit über Art, Umfang und Zweck der von uns erhobenen, genutzten und verarbeiteten personenbezogenen Daten informieren. Ferner werden betroffene Personen mittels dieser Datenschutzerklärung über die ihnen zustehenden Rechte aufgeklärt. <br><br>Die Greenstein Germany GmbH hat als für die Verarbeitung Verantwortlicher zahlreiche technische und organisatorische Maßnahmen umgesetzt, um einen möglichst lückenlosen Schutz der über diese Internetseite verarbeiteten personenbezogenen Daten sicherzustellen. Dennoch können Internetbasierte Datenübertragungen grundsätzlich Sicherheitslücken aufweisen, sodass ein absoluter Schutz nicht gewährleistet werden kann. Aus diesem Grund steht es jeder betroffenen Person frei, personenbezogene Daten auch auf alternativen Wegen, beispielsweise telefonisch, an uns zu übermitteln. </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="space--xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2><b>Information über die Erhebung personenbezogener Daten und Anbieterkennzeichnung</b></h2>
                        <p class="lead">Im Folgenden informieren wir über die Erhebung personenbezogener Daten bei Nutzung dieser Website. Personenbezogene Daten sind alle Daten, die auf Sie persönlich beziehbar sind, also z. B. Name, Adresse, E-Mail-Adressen, Nutzerverhalten.<br><br>Verantwortlicher gem. Art. 4 Abs. 7 EU-Datenschutz-Grundverordnung (DS-GVO) ist Greenstein Germany GmbH, Kastanienallee 22, 14052 Berlin, info@greenstein.eu (siehe unser Impressum). <br><br> Falls wir für einzelne Funktionen unseres Angebots auf beauftragte Dienstleister zurückgreifen oder Ihre Daten für werbliche Zwecke nutzen möchten, werden wir Sie untenstehend im Detail über die jeweiligen Vorgänge informieren. Dabei nennen wir auch die festgelegten Kriterien der Speicherdauer.&nbsp; </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2><b>Rechte, insbesondere auf Auskunft und Widerruf</b></h2>
                        <p class="lead"> Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:<br><br>Recht auf Auskunft, <br>Recht auf Berichtigung oder Löschung, <br>Recht auf Einschränkung der Verarbeitung, <br>Recht auf Widerspruch gegen die Verarbeitung, <br>Recht auf Datenübertragbarkeit.<br><br>Wenn Sie eine Einwilligung zur Nutzung von Daten erteilt haben, können Sie diese jederzeit widerrufen. Sollte die Rechtmäßigkeit der Verarbeitung auf Grundlage einer Einwilligung bestehen, bleibt diese bis zur Ausübung des Widerrufs gültig.<br><br>Alle Informationswünsche, Auskunftsanfragen oder Widersprüche zur Datenverarbeitung richten Sie bitte per E-Mail an info@greenstein.eu. &nbsp;<br><br>Sie können von uns jederzeit verlangen ihre Daten zu löschen. Hierbei können gesetzliche Aufbewahrungsfristen bestehen, die es uns erlauben ihre Daten bis zum Ablauf der Frist aufzubewahren.<br><br>Wenn Ihre Daten unrichtig sein sollten, haben Sie das Recht uns zu einer Berichtigung aufzufordern. Dieser Aufforderung kommen wir unverzüglich nach. <br><br>Sie haben das Recht Ihre uns zur Verfügung gestellten personenbezogenen Daten, von uns in einem lesbaren Format zu erhalten, soweit technisch möglich, um Sie einem anderen Unternehmen zur Verfügung zu stellen (Recht auf Datenübertragbarkeit). <br><br>Sie haben das Recht Sich bei der für Sie zuständigen Aufsichtsbehörde zu beschweren. &nbsp;<br> </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="space--xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2><b>Datensicherheit</b></h2>
                        <p class="lead"> Wir unterhalten aktuelle technische Maßnahmen zur Gewährleistung der Datensicherheit, insbesondere zum Schutz Ihrer personenbezogenen Daten vor Gefahren bei Datenübertragungen sowie vor Kenntniserlangung durch Dritte. Diese werden dem aktuellen Stand der Technik entsprechend jeweils angepasst. </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2><b>Erhebung personenbezogener Daten bei informatorischer Nutzung und Kontaktaufnahme</b></h2>
                        <p class="lead"> Bei der bloß informatorischen Nutzung der Website, also wenn Sie sich nicht registrieren oder uns anderweitig Informationen übermitteln, erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden Daten, die für uns technisch erforderlich sind, um Ihnen unsere Website anzuzeigen und die Stabilität und Sicherheit zu gewährleisten (Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO):<br><br>IP-Adresse<br>Datum und Uhrzeit der Anfrage<br>Zeitzonendifferenz zur Greenwich Mean Time (GMT) <br>Inhalt der Anforderung (konkrete Seite) <br>Zugriffsstatus/HTTP-Statuscode <br>jeweils übertragene Datenmenge <br>Website, von der die Anforderung kommt <br>Browser <br>Betriebssystem und dessen Oberfläche <br>Sprache und Version der Browsersoftware<br><br>Bei Ihrer Kontaktaufnahme mit uns per E-Mail oder über das Kontaktformular wird Ihre E-Mail-Adresse und ihr Name von uns gespeichert. Der Zweck dieser Speicherung ist lediglich die Kontaktaufnahme, um Ihre Fragen zu beantworten.<br><br>Rechtsgrundlage der angegebenen Erhebung ist die Einwilligung, die sie durch Besuch unserer Webseite und Bestätigen des Cookie-Banners kundgetan haben (Art. 6 Abs. 1 lit. a DSGVO). <br><br>Wir werden Ihre Daten nur gesetzlich im erlaubten Umfang zum Zwecke der Werbung nutzen. Insbesondere nutzen wir Ihre E-Mail-Adresse lediglich zur Direktwerbung für eigene ähnliche Waren oder Dienstleistungen. Sie können der Verwendung ihrer Daten zu Werbezwecken jederzeit schriftlich (Briefe an Kastanienallee 22, 14052 Berlin) oder in Textform (E-Mail an info@greenstein.eu) widersprechen. Hierbei berufen wir uns auf unser berechtigtes Interesse an der Bewerbung unserer Produkte gegenüber unseren Kunden gem. Art. 6 Abs. 1 lit. f DSGVO. <br><br>Zusätzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung unserer Website Cookies auf Ihrem Rechner gespeichert. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem von Ihnen verwendeten Browser zugeordnet gespeichert werden und durch welche der Stelle, die den Cookie setzt (hier durch uns), bestimmte Informationen zufließen. Cookies können keine Programme ausführen oder Viren auf Ihren Computer übertragen. Sie dienen dazu, das Internetangebot insgesamt nutzerfreundlicher und effektiver zu machen. &nbsp;<br> </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>

