@{
    ViewBag.Title = "Greenstein Germany | FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="imagebg text-center section--ken-burns" data-overlay="4">
            <div class="background-image-holder"> <img alt="background" src="~/img/Faq01.jpg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1><b>FAQ</b></h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-block">
                            <h4>Häufig gestellte Fragen</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-block">
                            <h5><b>Was muss vor der ersten Verschreibung eines Cannabisarzneimittels beachtet werden?</b></h5>
                            <p>Der Patient muss vor der ersten Verschreibung ein Antrag auf Genehmigung der Kostenübernahme bei der zuständigen Krankenkasse stellen, wenn die zugelassenen Fertigarzneimittel Sativex® oder Canemes® außerhalb der zugelassenen Indikationen bzw. Cannabisblüten, nicht als Fertigarzneimittel zugelassene Cannabisextrakte oder Dronabinol zu Lasten der GKV verschrieben werden. Der Patient muss über die Durchführung einer Begleiterhebung informiert werden. Weitere Informationen finden Sie auf § 31 Absatz 6 Fünftes Buch Sozialgesetzbuch.&nbsp;</p>
                        </div>
                        <div class="text-block">
                            <h5><b>Wer darf Cannabisarzneimittel verschreiben?</b> &nbsp;</h5>
                            <p>Diese Berechtigung gilt allen Personen, die zur Ausübung des ärztlichen Berufs berechtigt sind, außer Zahnärzte und Tierärzte. Cannabisarzneimittel zählen zu der Verschreibung von Betäubungsmitteln (diese beinhalten u. a. auch Dronabinol und Nabilon sowie Cannabisextrakte und -blüten) und beziehen daher ein Betäubungsmittelrezept. Dadurch sind bei jedem Rezept von Cannabisarzneimitteln die allgemein geltenden Regelungen zur Verschreibung von Betäubungsmitteln zu berücksichtigen. </p>
                        </div>
                        <div class="text-block">
                            <h5><b>Der Gehalt an Inhaltsstoffen schwankt. Wie kann ich die Sicherheit in der Therapie sicherstellen?</b></h5>
                            <p>Die Schwankungsbreite von Arzneimitteln ist bei Naturprodukten bekannt. Sie wird jedoch durch die Definition in der Monographie zu Cannabis begrenzt. Durch die verhältnismäßig hohe therapeutische Breite von Cannabis, sollten Schwankungen der Wirkstoffgehalte im Akzeptanzbereich nur geringe Auswirkungen (wenn überhaupt) auf Wirksamkeit und Sicherheit der Therapie haben.&nbsp; &nbsp;&nbsp;</p>
                        </div>
                        <div class="text-block">
                            <h5>Welche Nebenwirkungen können auftreten?<br></h5>
                            <p>Es ist wichtig sich bei den Fertigarzneimitteln Sativex® (Dickextrakte aus Cannabis), Marinol® (Wirkstoff: Dronabinol) und Canemes® (Wirkstoff: Nabilon) mit den Fachinformationen auseinander zu setzen. Da noch wenige wissenschaftliche Studien existieren, sind die Informationen zu den Nebenwirkungen von anderen Cannabisextrakten oder Cannabisblüten beschränkt. Jedoch sollten Nebenwirkungen sich mit denen der zugelassenen Cannabisarzneimittel gleichen. Gemäß Darreichungsform und Anwendungsart können aber auch andere bzw. weitere Nebenwirkungen auftreten.</p>
                        </div>
                        <div class="text-block">
                            <h5>Was ist Medizinal-Cannabis?<br></h5>
                            <p>Cannabis wird aus der Hanfpflanze Cannabis sativa L. erarbeitet. So wie alle zugelassenen Arzneimittel wird Medizinal-Cannabis unter streng kontrollierten Bedingungen angebaut, geerntet, verarbeitet und analysiert damit den Patienten eine hohe Qualität gewährleistet wird. Die Pflanze, insbesondere dessen Blüten, sind reich an Cannabinoiden und anderen Naturstoffen. Die bekanntesten Cannabinoiden sind THC (Δ9-Tetrahydrocannabinol) und CBD (Cannabidiol).</p>
                        </div>
                        <div class="text-block">
                            <h5>Was ist der Unterschied zwischen Flos und Granulat?<br></h5>
                            <p>Bei Flos handelt es sich um die Spitzen der Cannabisblüten in getrockneter Form und daher von dem Patienten selbst gemahlen werden müssen. Granulat ist die Blüte in schon gemahlener Form und lässt sich dadurch einfacher dosieren. Die Wirkung der granulierten Blüte ist die gleiche wie bei Flos. Es ist also kein Unterschied welche Form bei der Verwendung als Tee oder beim Einsatz eines Verdampfers gewählt wird.</p>
                        </div>
                        <div class="text-block">
                            <h5>Wie wird Medizinal-Cannabis hergestellt?<br></h5>
                            <p>Unter kontrolliertem Anbau werden Klone einer Cannabismutterpflanze erzeugt. Diese Klone werden eingepflanzt, aufgezogen und nach dem Erblühen geerntet. Die Cannabisblüten können dann getrocknet oder zu der Herstellung von Cannabisextrakten verwendet werden. Die Cannabisblüten werden vor der Freigabe zum Verkauf nochmals explizit analysiert und verpackt.</p>
                        </div>
                        <div class="text-block">
                            <h5>Bei welchen Krankheiten wird Medizinal-Cannabis verschrieben?<br></h5>
                            <p>Medizinal-Cannabis kann verordnet werden, sollte es keine zugelassene Behandlungsalternative geben, die bisherigen Behandlungen nicht ausreichend wirksam waren oder nicht vertragen wurden. Es wird unter anderem bei den folgenden Krankheiten angewendet:<br><br>• Schmerzen<br> <br>• Multipler Sklerose & Paraplegie<br> <br>• Epilepsie&nbsp;<br> <br>• Übelkeit & Erbrechen nach Chemotherapie&nbsp;<br> <br>• Appetitsteigerung bei HIV/AIDS&nbsp;<br>  </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-block">
                            <h5><b>Warum erhalte ich nur beim Arzt ausführliche Informationen zu medizinischem Cannabis?</b> &nbsp;</h5>
                            <p>Information zu Betäubungsmitteln dürfen per Gesetzeslage nur an Fachkreise gegeben werden. Da Medizinal-Cannabis als Betäubungsmittel eingestuft ist, dürfen Hersteller detaillierte Informationen zu den Produkten nur an Ärzte oder Apotheker vermitteln und nicht direkt an Patienten. Wenn Sie wissen möchten, ob Medizinal-Cannabis eine Therapiemöglichkeit für Sie sein könnte, wenden Sie sich bitte an Ihren Arzt. Dieser kann Sie über eine Cannabistherapie informieren und passende Produkte in zutreffenden Dosierungen finden.  </p>
                        </div>
                        <div class="text-block">
                            <h5><b>Wie funktioniert die Kostenübernahme durch die Krankenkassen?</b></h5>
                            <p> Vor einer Behandlung mit Medizinal-Cannabis muss ein Antrag bei der Krankenkasse gestellt werden. Wenn bei schweren Erkrankungen keine Therapiealternative zur Verfügung steht, bisherige Therapien nicht ausreichend wirksam waren oder nicht vertragen wurden, so übernehmen die gesetzlichen Krankenkassen die Kosten für eine Behandlung. Nachdem der Antrag, der mit Hilfe von einem Arzt gestellt werden kann, bei der Krankenkasse eingegangen ist, bekommt man innerhalb von drei Wochen eine Entscheidung. Falls der Antrag abgelehnt werden sollte, so kann man mit dem Arzt innerhalb von einem Monat Widerspruch einlegen. Bei einer Privatverordnung müssen Patienten die Kosten selbst übernehmen.<br><br>Die Fristen ändern sich in der Palliativsituation, wo die Krankenkassen nach drei Tagen ihre Entscheidung über einen Antrag verkünden müssen. Sollte diese Frist überschritten werden, gilt der Antrag auf Kostenerstattung als genehmigt.</p>
                        </div>
                        <div class="text-block">
                            <h5>Kann Medizinal-Cannabis verschrieben werden, wenn die Krankenkasse der Kostenübernahme nicht zustimmt?&nbsp;<br></h5>
                            <p>Die derzeit geltenden rechtlichen Rahmenbedingungen ermöglichen in allen begründeten Fällen die Verschreibung von Cannabisarzneimitteln. Die Kostenübernahme durch die Krankenkassen ist keine zwingende Bedingung für die Verschreibung. </p>
                        </div>
                        <div class="text-block">
                            <h5>Kann ich mir Cannabis zur Behandlung meiner Erkrankung selbst kaufen?<br></h5>
                            <p>Der Erwerb von nicht-medizinischem Cannabis ist in Deutschland illegal. Nur Apotheken dürfen Medizinal-Cannabis bei Vorlage des vom Arzt verschriebenen Betäubungsmittel-Rezepts verkaufen. Erst dann können die Krankenkassen den Betrag Erstatten. Medizinal-Cannabis garantiert den Patienten eine hohe Qualität durch die streng kontrollierten Bedingungen bei der Herstellung. </p>
                        </div>
                        <div class="text-block">
                            <h5>Warum wird Medizinal-Cannabis bei bestimmten Erkrankungen nicht standardmäßig verordnet?<br></h5>
                            <p>Auf Grund des Mangels klinischer Studien zu medizinischem Cannabis, wird dies erst eingesetzt, wenn für eine schwere Erkrankung keine Behandlungsalternativen zur Verfügung stehen. Durch diese Gesetzeslage können Krankenkassen erst dann das verschriebene medizinische Cannabis erstatten. Auch Ärzte ziehen es vor Arzneimittel mit einer stärkeren Studienlage zu verordnen. Es gibt mehrere verschiedene Cannabis-Produkte mit unterschiedlichem Gehalt an CBD- und THC-Werten. Es stehen dadurch noch nicht für jedes Produkt zu jeder Erkrankung Studien bereit. </p>
                        </div>
                        <div class="text-block">
                            <h5>Warum wird Medizinal-Cannabis bei bestimmten Erkrankungen nicht standardmäßig verordnet? <br></h5>
                            <p>Auf Grund des Mangels klinischer Studien zu medizinischem Cannabis, wird dies erst eingesetzt, wenn für eine schwere Erkrankung keine Behandlungsalternativen zur Verfügung stehen. Durch diese Gesetzeslage können Krankenkassen erst dann das verschriebene medizinische Cannabis erstatten. Auch Ärzte ziehen es vor Arzneimittel mit einer stärkeren Studienlage zu verordnen. Es gibt mehrere verschiedene Cannabis-Produkte mit unterschiedlichem Gehalt an CBD- und THC-Werten. Es stehen dadurch noch nicht für jedes Produkt zu jeder Erkrankung Studien bereit.<br> </p>
                        </div>
                        <div class="text-block">
                            <h5>Was muss auf dem Betäubungsmittelrezept (BtM-Rezept) stehen?<br></h5>
                            <p>Wie für jedes Betäubungsmittel, müssen die Angaben auf dem BtM-Rezept nach § 9 der Betäubungsmittel-Verschreibungsverordnung (BtMVV) erfolgen. Für die Verordnung von medizinischem Cannabis muss der verschreibende Arzt drei wichtige Punkte beachten:<br><br>1. Die betreffende Sorte muss spezifiziert werden. Die Angabe „Cannabis“ oder „Cannabisblüten“ ist nicht ausreichend. Jedoch besteht bei medizinischer Notwendigkeit, auf Einzelfallbasis, die Möglichkeit verschiedene Cannabis-Sorten auf einem BtM-Rezept zu verschreiben. <br> <br>2. Die Menge des Cannabisarzneimittels muss in Gramm, Milliliter oder Stückzahl der abgetrennten Form (sofern zutreffend) angegeben werden. Der Arzt gibt mit der Gebrauchsanweisung die Darreichungsform an. <br> <br>3.	Die Einzel- und Tagesgabe muss mit der Gebrauchsanweisung festgesetzt werden. Gemäß § 9 Abs. 1 Nr. 5 BtMVV ist auch ein Hinweis auf eine schriftliche Gebrauchsanweisung, die dem zu übergeben ist, möglich.&nbsp;<br> <br>Das BtM-Rezept muss vollständige und konkrete Daten enthalten, um eine Verwechselung auszuschließen. &nbsp;<br></p>
                        </div>
                        <div class="text-block">
                            <h5>Kann ich von medizinischem Cannabis abhängig werden?<br></h5>
                            <p>Medizinal-Cannabis ist wie andere hoch wirksame Schmerzmittel als Betäubungsmittel eingestuft, da es einen gewissen Suchtfaktor enthält. Bei der Verschreibung von medizinischem Cannabis kann Ihr Arzt Ihnen genauere Informationen über das Suchtpotenzial geben und wird darauf achten das Risiko so niedrig wie möglich zu halten.<br> </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <div class="cta">
                            <h2>Mehr Fragen? Schreiben Sie uns!</h2>
                            <a class="btn btn--primary type--uppercase" href="@Url.RouteUrl("Kontakt")">
                                <span class="btn__text">
                                    Kontakt<br>
                                </span>
                            </a>
                            <p class="type--fine-print">or check out<a href="@Url.RouteUrl("Professionals")"> FACHBEREICH</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>

