<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="cover imagebg height-60 section--ken-burns text-center" data-overlay="3">
            <div class="background-image-holder"> <img alt="background" src="~/img/Hero_4.jpg" /> </div>

            <div class="container text pos-vertical-center">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <h1>
                            <b>
                                Ihre Apothekenmarke für
                            </b> Medizinal-Cannabis
                        </h1>
                        @*<a class="btn btn--primary type--uppercase" href="@Url.RouteUrl("Unsereprodukte")">
                                <span class="btn__text">
                                    UNSERE PRODUKTE
                                </span>
                            </a>*@
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary space--sm">
            <div id="unternehmen" name="unternehmen" class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-11">
                        <h2><b>APOCAN</b></h2>
                        <p class="lead">
                            Konzipiert für den Umgang in Ihrer Apotheke und eine reibungslose Abgabe an den Patienten. Die Apotheke ist der wichtigste Anlaufpunkt für Patienten. Deswegen begleitet Sie APOCAN von der Verschreibung und Verarbeitung bis zur Abgabe in Ihrer Apotheke.
                        </p>
                        <p class="lead">
                            Erfahren Sie mehr über unser Produkt- und Informationsangebot.
                        </p>
                        <a class="btn btn--primary type--uppercase" href="@Url.RouteUrl("Unsereprodukte")">
                            <span class="btn__text">
                                PRODUKTE
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="imageblock switchable feature-large">
            <div class="imageblock__content col-lg-4 col-md-3 pos-right">
                <div class="background-image-holder"> <img alt="image" src="~/img/cannabis-seedlingsm.jpg"> </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8">
                        <h2>
                            <b>Eine starke Partnerschaft</b> für eine nachhaltige Versorgung von Medizinal-Cannabis.
                        </h2>
                        <p class="lead">
                            APOCAN ist ihre Apothekenmarke für Medizinal-Cannabis. Entstanden aus enger Zusammenarbeit zwischen der NOWEDA eG und Greenstein Germany GmbH. Ein traditionsreiches Pharmaunternehmen mit über 80 Jahren Erfahrung in medizinischer Versorgung trifft auf innovative Cannabis-Experten und Forschern.
                        </p>
                        <p class="lead">
                            APOCAN verbindet das Beste aus dem täglichen Einsatz von Pharmazeuten und hochqualitativen natürlichen Arzneimitteln.
                        </p>
                        @*<div class="feature-large__group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="feature feature-6">
                                            <i class="icon color--primary icon-Geo3-Star icon--sm"></i>
                                            <h5>Certified Products</h5>
                                            <p> APOCAN’s products are globally sourced from GACP and EU-GMP certified suppliers. </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="feature feature-6">
                                            <i class="icon color--primary icon-Security-Check icon--sm"></i>
                                            <h5>Authorisation Holder</h5>
                                            <p> APOCAN is marketing authorisation holder of its medical cannabis products. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </section>
        @*<section class="bg--primary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="text-block">
                                <i class="icon color--primary icon-Security-Check icon--lg"></i>
                                <h4>Zuverlässige Versorgung </h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="text-block">
                                <i class="icon color--primary icon-Ribbon-2 icon--lg"></i>
                                <h4>GMP- und GDP-Zertifizierte Qualität</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="text-block">
                                <i class="icon color--primary icon-Headphone icon--lg"></i>
                                <h4>Individuelle Kundenberatung</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="text-block">
                                <i class="icon color--primary icon-Handshake icon--lg"></i>
                                <h4>Flexibles und Anpassungsfähiges Team</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@
        <section class="bg--secondary space--sm">
            <div id="unternehmen" name="unternehmen" class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-11">
                        <h2><b>Melden Sie sich in unserem Fachbereich an</b></h2>
                        <p class="lead">
                            Im Rahmen des Heilmittelwerbegesetzes können wir bestimmte medizinische Informationen nur an Fachkreisen herausgeben.
                        </p>
                        <a class="btn btn--primary type--uppercase" href="@Url.RouteUrl("Login")">
                            <span class="btn__text">
                                DOCCHECK
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="cover imagebg height-50 text-center parallax" data-overlay="3">
            <div class="background-image-holder"> <img alt="background" src="~/img/Unternehmen_1.jpeg" /> </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-8 col-lg-10">
                        <h1>@*<b>Unser Fachbereich</b>*@</h1>
                        <p class="lead"> @*Melden Sie sich jetzt in unserem Fachbereich an, um mehr Informationen zu unseren Produkten und rund um das Thema Cannabis als Medizin zu erfahren.*@ </p>
                        <a class="btn btn--primary type--uppercase" href="@Url.RouteUrl("Kontakt")">
                            <span class="btn__text">
                                KONTAKT
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>