@{
    ViewBag.Title = "APOCAN | Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center bg--primary space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h1><br><b>Kontakt</b></h1>
                        <p class="lead"> Nehmen Sie mit uns Kontakt auf. Wir stehen Ihnen jederzeit für Fragen und Anregungen zu Verfügung </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary space--sm text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                            <i class="icon icon-Information icon--lg color--primary"></i>
                            <div class="feature__body">
                                <h5><b>Anfragen</b></h5>
                                <p> Tel.: 030 54844615<br>Fax: 030 75945211&nbsp;</p> <a href="info@apocan.de" target="_self">info@apocan.de</a>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                            <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Shopping-Cart icon--lg color--primary"></i>
                                <div class="feature__body">
                                    <h5>Bestellungen</h5>
                                    <p> Tel:: 030 84429757<br>Fax: 030 75945211&nbsp;<br></p> <a href="bestellung@apocan.de" target="_self">bestellung@apocan.de</a>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </section>
        @*<section class="text-center space--xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-10">
                            <h2><b>Bestellungen</b></h2>
                            <p class="lead"> Bestellen Sie bequem per Telefon, Email oder Fax. Nach Ihrer Anfrage erhalten Sie eine schriftliche Bestellbestätigung und weitere Informationen zur Lieferung. Im Fachbereich haben Sie einen Überblick unserer Produkte und können Sich unser Bestellformular ganz einfach herunterladen. </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-12 mb-5">
                            <div class="map-container"> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9713.17979644359!2d13.2685975!3d52.5100011!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x757544e068d837a9!2sGreenstein%20Germany!5e0!3m2!1sen!2str!4v1613112153903!5m2!1sen!2str"></iframe> </div>
                        </div>
                        <div class="col-md-8 col-lg-6 col-12">
                            <h3>Kastanienallee 22, 14052 Berlin</h3>
                            <p class="lead">E-mail : info@greenstein.eu<br>Phone : 030 / 548 446 15</p>
                                <p class="lead"> Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days. </p>
                                <p class="lead"> We are open from 9am — 5pm week days. </p>
                        </div>
                    </div>
                </div>
            </section>*@
    </div>
</body>

</html>