@{
    ViewBag.Title = "APOCAN | Presse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center imagebg section--ken-burns space--lg" data-overlay="2">
            <div class="background-image-holder"> <img alt="background" src="~/img/Hero_3.jpeg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-11">
                        <h1><b>Presse</b></h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary">
            <div class="container">
                <div class="row text-block">
                    <div class="col-md-12">
                        <h3><b>Latest</b> News</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <article class="feature feature-1">
                            <a href="#" class="block"> <img alt="Image" src="~/img/GR-Bloomberg-Logo.jpg"> </a>
                            <div class="feature__body boxed boxed--border">
                                <span>May 30th 2019 - Bloomberg</span>
                                <h5>Apocan ist Ihre Apothekenmarke für Medizinal-Cannabis - Konzipiert für den Umgang in der Apotheke<br><br><br></h5> <a href="#" target="_blank">
                                    Read More
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="feature feature-1">
                            <a href="#" class="block"> <img alt="Image" src="~/img/GR-Bloomberg-Logo.jpg"> </a>
                            <div class="feature__body boxed boxed--border">
                                <span>May 30th 2020 - Bloomberg</span>
                                <h5>Apocan ist Ihre Apothekenmarke für Medizinal-Cannabis - Konzipiert für den Umgang in der Apotheke<br><br><br></h5> <a href="#" target="_blank">
                                    Read More
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="feature feature-1">
                            <a href="#" class="block"> <img alt="Image" src="~/img/GR-Bloomberg-Logo.jpg"> </a>
                            <div class="feature__body boxed boxed--border">
                                <span>May 30th 2021 - Bloomberg</span>
                                <h5>Apocan ist Ihre Apothekenmarke für Medizinal-Cannabis - Konzipiert für den Umgang in der Apotheke<br><br><br></h5> <a href="#" target="_blank">
                                    Read More
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>