
@{
    ViewBag.Title = "Greenstein Germany | Uber Uns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme-greensea.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center imagebg section--ken-burns" data-overlay="4">
            <div class="background-image-holder"> <img alt="background" src="img/UberUns01.jpeg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h1><b>Ihr Spezialist</b> für psychotrope Wirkstoffe</h1>
                        <p class="lead"> GREENSTEIN GERMANY® gehört der international tätigen Greenstein Group an und hat ihren Hauptsitz in Berlin. Unser Ziel ist es Therapiealternativen anzubieten, um zum einen den Patienten eine bessere Lebensqualität zu ermöglichen, und zum anderen die Anwendungsgebiete verschiedener Psychotropika zu erweitern und somit das volle Potenzial von Natur- und semisynthetischen Wirkstoffen zu nutzen. </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2>Greenstein unterstützt neben dem Import und Vertrieb von medizinal Cannabis klinische Studien im Bereich der Cannabinoidtherapie und Aufklärung im fachlichen. </h2>
                        <p class="lead">
                            Wir bemühen uns täglich Menschen mit diversen Krankheitsbildern eine Chance auf verbesserte Lebensqualität zu geben.&nbsp;Wir als junges, eigentümergeführtes Unternehmen mit Sitz in Berlin-Charlottenburg besitzen eine Arzneimittelgroßhandelserlaubnis nach § 52a des Arzneimittelgesetzes (AMG) und eine Erlaubnis zum Umgang mit Betäubungsmitteln nach § 3 des Betäubungsmittelgesetztes (BtMG). Neben einem behördlich zertifizierten Qualitätssicherungs¬System nach GDP-Standards (Good Distribution Practice) verfügen wir über sämtliche Lizenzen, die erforderlich sind, um Medizinal-Cannabis nach Deutschland zu importieren, distribuieren und innerhalb der Europäischen Union exportieren zu dürfen.
                            <!--[endif]-->
                            <!--[if !supportAnnotations]-->
                            <!--[endif]-->
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2><b>Unsere</b> Mission</h2>
                        <p class="lead"> Wir von GREENSTEIN GERMANY® haben es uns zum Ziel gesetzt, einen aktiven Beitrag zum Gesundheitswesen zu leisten, indem wir schwerkranken Patienten in ganz Europa ein quantitativ und qualitativ einzigartiges Sortiment an homogenen Cannabisvarietäten zugänglich machen, um so eine optimale Behandlung zu ermöglichen.<br><br>Wir stellen den Patienten und dessen Gesundheit in den Mittelpunkt unseres Strebens. Unsere Verpflichtung zu absoluter Zuverlässigkeit, unser Anspruch zu höchster Qualität und unsere Überzeugung zum nachhaltigen Handeln bildet das Fundament unserer Unternehmensphilosophie.<br> </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="imageblock switchable feature-large">
            <div class="imageblock__content col-lg-4 col-md-3 pos-right">
                <div class="background-image-holder"> <img alt="image" src="img/MCeli01.jpg"> </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8">
                        <h2><b>Unsere</b> Expertise</h2>
                        <p class="lead"> Unsere Expertise spiegelt sich in unserem gesamten Team aus Branchen- und Pharmaexperten wider, welches über langjährige Erfahrung in der Behandlung mit pflanzlichen und synthetischen Substanzen verfügt. Sie bringen das notwendige Fachwissen für den professionellen Umgang mit Cannabinoiden und anderen neuartigen Wirkstoffen. Mit unserem Fachpersonal arbeitet GREENSTEIN GERMANY® daran die existierenden Lücken zwischen Arzt, Patient und Apotheke fortbildend zu schließen. </p>
                        <div class="feature-large__group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="feature feature-6">
                                        <i class="icon icon--sm icon-Text-Effect color--primary"></i>
                                        <h5>Design Quickly</h5>
                                        <p> Combine blocks from a range of categories to build pages that are rich in visual style and interactivity </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="feature feature-6">
                                        <i class="icon icon--sm icon-Text-Effect color--primary"></i>
                                        <h5>Design Quickly</h5>
                                        <p> Combine blocks from a range of categories to build pages that are rich in visual style and interactivity </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center space--xxs bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h2><b>Unsere</b> Werte</h2>
                        <p class="lead"> </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border">
                            <i class="icon icon-Quill-2 icon--lg"></i>
                            <h4>Qualität</h4>
                            <p> Neben unseren Produkten erfüllen unsere Partner, unser Team und unsere Quellen einen exzellenten Qualitätsanspruch auf GMP und GDP Standard. </p> <a href="#">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border">
                            <i class="icon icon-Lock-2 icon--lg"></i>
                            <h4>Zuverlässigkeit</h4>
                            <p> Unsere streng kontrollierte Lieferkette bietet eine zuverlässige Termineinhaltung und eine nachhaltige Versorgung an Medikamenten.<br><br> </p> <a href="#">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border">
                            <i class="icon icon-Bookmark icon--lg"></i>
                            <h4>Integrität</h4>
                            <p> Wir arbeiten mit einem großen Pflichtbewusstsein gegenüber Patienten, Apotheken und unseren Partnern und stehen zu unserem Wort.<br><br> </p> <a href="#">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>