
@{
    ViewBag.Title = "APOCAN | Unternehmen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center imagebg section--ken-burns space--lg" data-overlay="2">
            <div class="background-image-holder"> <img alt="background" src="~/img/Hero_unternehmen_2.jpeg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <h1><b>Apocan</b> steht für Service und Qualität</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-10">
                        <h2>Unser Ziel ist es Patienten mit diversen Indikationen durch ein breites Produktportfolio eine Chance auf verbesserte Lebensqualität zu geben. </h2>
                        <p class="lead"> Entstanden aus enger Zusammenarbeit zwischen einem traditionsreichen Pharmaunternehmen, Cannabis-Experten, innovationsbegeisterten Forschern und engagierten Apothekern. Hier wird mehr über das Unternehmen und die Geschichte dahinter stehen. </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center bg--primary space--xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-10">
                        <h2>Wir erleichtern den Zugang zurück zu den wichtigen Lebensmomenten, so individuell wie sie sind</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center bg--primary space--xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border">
                            <i class="icon icon-Quill-2 icon--lg color--primary"></i>
                            <h4>Qualität</h4>
                            <p> Neben unseren Produkten erfüllen unsere Partner, unser Team und unsere Quellen einen exzellenten Qualitätsanspruch auf GMP und GDP Standard. </p> <a href="#">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border">
                            <i class="icon icon-Lock-2 icon--lg color--primary"></i>
                            <h4>Zuverlässigkeit</h4>
                            <p> Unsere streng kontrollierte Lieferkette bietet eine zuverlässige Termineinhaltung und eine nachhaltige Versorgung an Medikamenten.<br><br> </p> <a href="#">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border">
                            <i class="icon icon-Bookmark icon--lg color--primary"></i>
                            <h4>Integrität</h4>
                            <p> Wir arbeiten mit einem großen Pflichtbewusstsein gegenüber Patienten, Apotheken und unseren Partnern und stehen zu unserem Wort.<br><br> </p> <a href="#">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cover imagebg height-auto text-center parallax" data-overlay="3">
            <div class="background-image-holder"> <img alt="background" src="~/img/Unternehmen_1.jpeg" /> </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-8 col-lg-10">
                        <h1><b>Unser Fachbereich</b></h1>
                        <p class="lead"> Melden Sie sich jetzt in unserem Fachbereich an, um mehr Informationen zu unseren Produkten und rund um das Thema Cannabis als Medizin zu erfahren. </p>
                        <a class="btn btn--primary type--uppercase" href="@Url.RouteUrl("Professionals")">
                            <span class="btn__text">
                                DOCCHECK
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>